body {
  max-width: 414px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

footer {
  height: 190px;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h3 {
  color: white;
  font-family: Shrikhand;
  font-weight: 100;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer ul {
  color: white;
  margin: 0;
  list-style: none;
  line-height: 28px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.fa-utensils {
  margin-right: 17px;
}

.fa-hands-helping {
  margin-right: 10px;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../Ressources/css/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../../Ressources/css/shrikhand/Shrikhand-Regular.otf");
}

.containerhome {
  max-width: 414px;
}

#description {
  height: 200px;
  margin-bottom: 35px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#description h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: center;
}

#description p {
  text-align: center;
}

#description a {
  text-decoration: none;
  color: white;
}

.restaurants-link {
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  color: black;
}

header .logo img {
  width: 170px;
  height: 27px;
}

#how-to {
  height: auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#how-to div {
  height: 65px;
  background-color: #F7F7F7;
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

#how-to div:hover {
  background: #F2E7FF;
}

#how-to span {
  font-weight: bold;
}

#how-to i {
  margin-left: 25px;
  margin-right: 30px;
  color: grey;
}

#how-to i:hover {
  color: #9356dc;
}

#how-to h1, #restaurants h1 {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: 20px;
}

#how-to aside {
  background-color: #9356dc;
  color: white;
  padding: 7px;
  padding-top: 3px;
  padding-bottom: 17px;
  width: 8px;
  height: 3px;
  border-radius: 20px;
}

#position {
  height: 45px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 3px 3px 0px #d2d4d7;
          box-shadow: inset 0px 3px 3px 0px #d2d4d7;
}

.position-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
}

.position-text {
  font-weight: 600;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

#restaurants {
  height: 1100px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new {
  position: relative;
  background-color: #99E2D0;
  color: green;
  width: 64px;
  top: 40px;
  -ms-flex-item-align: end;
      align-self: end;
  margin-right: 13px;
  font-size: 13px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  border-radius: 3px;
}

.place-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place-frame img {
  width: 330px;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.var-place-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.var-place-frame img {
  width: 330px;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  margin-top: 25px;
}

.place-description {
  height: 65px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

.place-description .heart {
  font-size: 25px;
}

.place-description .heart:hover .heart-like {
  font-style: normal;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.place-description .heart:hover .heart-like:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  font-weight: 900;
}

.place-description i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 50px;
}

#restaurants a {
  text-decoration: none;
  color: black;
}

#restaurants h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.place-text {
  margin-top: 12px;
  margin-right: 55px;
}

.place-name {
  font-weight: bold;
}

.containerrestau {
  background-color: #f1f1f1;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerrestau section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
}

.order-button {
  padding: 15px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  width: 160px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 35px;
  height: 20px;
  font-family: Roboto, sans-serif;
}

.order-button a {
  color: white;
  text-decoration: none;
  margin-left: 33px;
  font-size: 18px;
}

.entitled {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-size: 10px;
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.entitled__h2 {
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}

hr {
  border: none;
  border-top: 3px solid #99E2D0;
  overflow: visible;
  text-align: center;
  height: 5px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  width: 40px;
}

.dish {
  border: 2px white solid;
  margin-bottom: 10px;
  width: 350px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

.dish__title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 6px;
}

.dish__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.dish__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 15px;
  font-weight: 600;
}

header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: black;
  margin-left: 14px;
  margin-right: 60px;
}

.logo img {
  width: 170px;
  height: 27px;
}

.hero-zone {
  height: 200px;
}

.hero-zone img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 235px;
}

.title-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Shrikhand;
}

.title-menu h1 {
  font-weight: 100;
  font-size: 26px;
  margin-right: 35px;
  margin-top: 30px;
}

.title-menu i {
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
}

.title-menu:hover .heart-like {
  font-style: normal;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.title-menu:hover .heart-like:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */