@import "./utils/variables";
@import "./utils/mixins";

@import './base/body';
@import './base/footer';
@import './base/general';

@import './homepage/base/container';
@import './homepage/layout/description';
@import './homepage/layout/header';
@import './homepage/layout/how-to';
@import './homepage/layout/position';
@import './homepage/layout/restaurants';


@import './menu-page/base/container';
@import './menu-page/components/order-button';
@import './menu-page/layout/entrance';
@import './menu-page/layout/header';
@import './menu-page/layout/hero-zone';
@import './menu-page/layout/main_food';
@import './menu-page/layout/title-menu';