@import "./utils/variables";

@import './layout/homepage/container';
@import './layout/homepage/header';
@import './layout/homepage/body';
@import './layout/homepage/position';
@import './layout/homepage/description';
@import './layout/homepage/how-to';
@import './layout/homepage/restaurants';

@import './layout/footer';
