.container {
  max-width: 414px;
}

header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  color: black;
}

header .logo img {
  width: 170px;
  height: 27px;
}

body {
  max-width: 414px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

#position {
  height: 45px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 3px 3px 0px #d2d4d7;
          box-shadow: inset 0px 3px 3px 0px #d2d4d7;
}

.position-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
}

.position-text {
  font-weight: 600;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

#description {
  height: 200px;
  margin-bottom: 35px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#description h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: center;
}

#description p {
  text-align: center;
}

#description a {
  text-decoration: none;
  color: white;
}

.restaurants-link {
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

#how-to {
  height: auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#how-to div {
  height: 65px;
  background-color: #F7F7F7;
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

#how-to div:hover {
  background: #F2E7FF;
}

#how-to span {
  font-weight: bold;
}

#how-to i {
  margin-left: 25px;
  margin-right: 30px;
  color: grey;
}

#how-to i:hover {
  color: #9356dc;
}

#how-to h1, #restaurants h1 {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: 20px;
}

#how-to aside {
  background-color: #9356dc;
  color: white;
  padding: 7px;
  padding-top: 3px;
  padding-bottom: 17px;
  width: 8px;
  height: 3px;
  border-radius: 20px;
}

#restaurants {
  height: 1100px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new {
  position: relative;
  background-color: #99E2D0;
  color: green;
  width: 64px;
  top: 40px;
  -ms-flex-item-align: end;
      align-self: end;
  margin-right: 13px;
  font-size: 13px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.place-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place-frame img {
  width: 330px;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.place-description {
  height: 65px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 3px 3px #D7DAE0;
          box-shadow: 2px 3px 3px #D7DAE0;
}

.place-description i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 50px;
}

#restaurants a {
  text-decoration: none;
  color: black;
}

#restaurants h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.place-text {
  margin-top: 12px;
  margin-right: 55px;
}

.place-name {
  font-weight: bold;
}

footer {
  height: 190px;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h3 {
  color: white;
  font-family: Shrikhand;
  font-weight: 100;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer ul {
  color: white;
  margin: 0;
  list-style: none;
  line-height: 28px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.fa-utensils {
  margin-right: 17px;
}

.fa-hands-helping {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */