@import './layout/menu-page/body';

@import './layout/menu-page/header';
@import './layout/menu-page/hero-zone';
@import './layout/menu-page/container';
@import './layout/menu-page/title-menu';
@import './layout/menu-page/entrance';
@import './layout/menu-page/order-button';


@import './layout/footer';