@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
    font-family: Shrikhand;
    src: url(./shrikhand/Shrikhand-Regular.otf);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

#container {
    max-width: 375px;
}

    /* HEADER */

header {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* POSITION */

#position {
    height: 45px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-lock {
    display: flex;
    margin-right: 50px;
}

.fa-map-marker-alt {
    margin-right: 20px;
}

    /* DESCRIPTION */

#description {
    height: 200px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

#description p {
    text-align: center;
}

#description a {
    text-decoration: none;
    color: white;
}

.restaurants-link {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #FF79DA;
}

    /* HOW TO */

#how-to {
    height: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to div {
    height: 65px;
    background-color: #F7F7F7;
    width: 325px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 2px 3px 3px rgb(215 218 224);
}

#how-to span {    
    font-weight: bold;
}

#how-to i {
    margin-left: 35px;
    margin-right: 30px;
    color: grey;
}

#how-to h1, #restaurants h1 {
    align-self: baseline;
    margin-left: 20px;
}

#how-to aside {
    border: 1px solid #FF79DA;
}

    /* RESTAURANTS */

#restaurants {
    height: 1100px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-frame {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.place-frame img {
    width: 330px;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.place-description {
    height: 65px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 3px 3px rgb(215 218 224);
}

.place-description i {
    align-self: center;
    margin-left: 50px;
}

#restaurants a {
    text-decoration: none;
    color: black;
}

.place-text {
    margin-top: 12px;
    margin-right: 55px;
}

.place-name {
    font-weight: bold;
}

    /* FOOTER */

footer {   
    height: 190px;
    background-color: rgb(53, 53, 53);
    display: flex;
}

footer h3 {
    color: white;
    font-family: Shrikhand;
    font-weight: 100;
    margin: 0;    
    margin-top: 15px;
    margin-bottom: 10px;
}

footer ul {
    color: white;
    margin: 0;
    list-style: none;
    line-height: 28px;
    padding-inline-start: 20px;
}

.fa-utensils {
    margin-right: 17px;
}

.fa-hands-helping {
    margin-right: 10px;
}