body {
    margin: 0;
}

#container {
    max-width: 375px;
}

    /* HEADER */

header {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* POSITION */

#position {
    height: 45px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-lock {
    display: flex;
    margin-right: 50px;
}

.fa-map-marker-alt {
    margin-right: 20px;
}

    /* DESCRIPTION */

#description {
    height: 200px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

#description p {
    text-align: center;
}

#description a {
    text-decoration: none;
    color: white;
}

.restaurants-link {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #FF79DA;
}

    /* HOW TO */

#how-to {
    height: 360px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to div {
    height: 65px;
    background-color: #F7F7F7;
    width: 325px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
}

#how-to i {
    margin-left: 35px;
    margin-right: 30px;
}

#how-to h1, #restaurants h1 {
    align-self: baseline;
    margin-left: 20px;
}

#how-to aside {
    border: 1px solid #FF79DA;
}



    /* RESTAURANTS */

#restaurants {
    border: 2px purple solid;
    height: 800px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-frame {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.place-frame img {
    width: 330px;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.place-description {
    border: 1px red solid;
    height: 65px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

    /* FOOTER */

footer {
    border: 2px orangered solid;
    height: 120px;
}