@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
    font-family: Shrikhand;
    src: url(./shrikhand/Shrikhand-Regular.otf);
}


.loading {
    display: flex;
    justify-content: center;
}

.loading::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid #dddddd;
    border-top-color: #FF79DA;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

    /* HEADER */

header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
header a {
    color: black;
}
    
.logo img {
    width: 170px;
    height: 27px;
}

    /* POSITION */

#position {
    height: 45px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 3px 3px 0px #d2d4d7;
}

.position-lock {
    display: flex;
    margin-right: 11px;
}

.position-text {    
    font-weight: 600;
}

.fa-map-marker-alt {
    margin-right: 20px;
}

    /* DESCRIPTION */

#description {
    height: 200px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

#description p {
    text-align: center;
}

#description a {
    text-decoration: none;
    color: white;
}

.restaurants-link {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 2px 3px 3px rgb(215 218 224);
}

    /* HOW TO */

#how-to {
    height: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to div {
    height: 65px;
    background-color: #F7F7F7;
    width: 325px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 2px 3px 3px rgb(215 218 224);
}

#how-to div:hover {
    background: #F2E7FF;
}

#how-to span {    
    font-weight: bold;
}

#how-to i {
    margin-left: 25px;
    margin-right: 30px;
    color: grey;
}

#how-to i:hover {
    color: #9356dc;
}

#how-to h1, #restaurants h1 {
    align-self: baseline;
    margin-left: 20px;
}

#how-to aside {
    background-color: #9356dc;
    color: white;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 17px;
    width: 8px;
    height: 3px;
    border-radius: 20px;
}

    /* RESTAURANTS */

#restaurants {
    height: 1100px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new {
    position: relative;
    background-color: #99E2D0;
    color: green;
    width: 64px;
    top: 40px;
    align-self: end;
    margin-right: 13px;
    font-size: 13px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.place-frame {
    display: flex;
    flex-direction: column;
}

.place-frame img {
    width: 330px;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.place-description {
    height: 65px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 3px 3px rgb(215 218 224);
}

.place-description i {
    align-self: center;
    margin-left: 50px;
}

#restaurants a {
    text-decoration: none;
    color: black;
}

#restaurants h1 {
    margin-block-end: 0;
}

.place-text {
    margin-top: 12px;
    margin-right: 55px;
}

.place-name {
    font-weight: bold;
}

    /* FOOTER */

footer {   
    height: 190px;
    background-color: rgb(53, 53, 53);
    display: flex;
}

footer h3 {
    color: white;
    font-family: Shrikhand;
    font-weight: 100;
    margin: 0;    
    margin-top: 15px;
    margin-bottom: 10px;
}

footer ul {
    color: white;
    margin: 0;
    list-style: none;
    line-height: 28px;
    padding-inline-start: 20px;
}

.fa-utensils {
    margin-right: 17px;
}

.fa-hands-helping {
    margin-right: 10px;
}