@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
    font-family: Shrikhand;
    src: url(./shrikhand/Shrikhand-Regular.otf);
}
 
body {
    margin: 0;
    max-width: 375px;
}

    /* HEADER */

header {
    height: 45px;
    display: flex;
    align-items: center;
}

header a {
    color: black;
    margin-left: 10px;
    margin-right: 65px;
}

    /* HERO-ZONE */

.hero-zone {
    height: 200px;
}    

.hero-zone img {
    object-fit: cover;
    width: 100%;
    height: 235px;
}    

    /* TITLE MENU */

.title-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Shrikhand;
}

.title-menu h1 {
    font-weight: 100;
    font-size: 26px;
    margin-right: 35px;
}

.title-menu i {
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container {
    background-color: #f1f1f1;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 910px;
    display: flex;
    flex-direction: column;
}

.container section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    align-self: baseline;
    font-size: 15px;
    margin-left: 20px;
}

.container .dish {
    border: 2px white solid;
    margin-bottom: 10px;
    width: 350px;
    height: 55px;
    border-radius: 19px;
    background-color: white;
}

.order-button {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    width: 115px;
    align-self: center;
    margin-top: 25px;
}

.order-button a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

    /* FOOTER */

footer {   
    height: 190px;
    background-color: rgb(53, 53, 53);
    display: flex;
    font-family: Roboto;
}
    
footer h3 {
    color: white;
    font-family: Shrikhand;
    font-weight: 100;
    margin: 0;    
    margin-top: 15px;
    margin-bottom: 10px;
}
    
footer ul {
    color: white;
    margin: 0;
    list-style: none;
    line-height: 28px;
    padding-inline-start: 20px;
}
    
.fa-utensils {
    margin-right: 17px;
}
    
.fa-hands-helping {
    margin-right: 10px;
}