body {
  max-width: 414px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    max-width: 768px;
  }

  .containerhome {
    max-width: 768px;
  }

  .entitled {
    margin-left: 170px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 15px;
  }

  footer li {
    margin-right: 30px;
  }
}
footer {
  height: 190px;
  background-color: #353535;
  display: flex;
}

footer h3 {
  color: white;
  font-family: Shrikhand;
  font-weight: 100;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  color: white;
  margin: 0;
  list-style: none;
  line-height: 28px;
  padding-inline-start: 20px;
}

.fa-utensils {
  margin-right: 17px;
}

.fa-hands-helping {
  margin-right: 10px;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../Ressources/css/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../Ressources/css/shrikhand/Shrikhand-Regular.otf");
}
.containerhome {
  max-width: 414px;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    max-width: 768px;
  }

  .containerhome {
    max-width: 768px;
  }

  .entitled {
    margin-left: 170px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 15px;
  }

  footer li {
    margin-right: 30px;
  }
}
.spinner {
  width: 414px;
  height: 100%;
  position: fixed;
  display: flex;
}

.loading {
  display: flex;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 45%;
}

.loading::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid #dddddd;
  border-top-color: #FF79DA;
  border-radius: 50%;
  animation: loading 2s ease-in forwards;
}

@keyframes loading {
  to {
    transform: rotate(2turn);
    opacity: 0;
    display: none;
  }
}
#description {
  height: 235px;
  margin-bottom: 35px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description h1 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 21px;
  text-align: center;
}

#description p {
  text-align: center;
}

#description a {
  text-decoration: none;
  color: white;
}

.description--link {
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 2px 3px 3px #D7DAE0;
}
.description--link:hover:hover {
  box-shadow: 5px 6px 6px #D7DAE0;
  background-image: linear-gradient(0deg, #a77ddb, #fd9be2);
  cursor: pointer;
}

header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  color: black;
}
header .logo img {
  width: 170px;
  height: 27px;
}

#how-to {
  height: auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#how-to div {
  height: 65px;
  background-color: #F7F7F7;
  width: 325px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 2px 3px 3px #D7DAE0;
}

#how-to div:hover {
  background: #F2E7FF;
  cursor: pointer;
}

#how-to span {
  font-weight: bold;
}

#how-to i {
  margin-left: 25px;
  margin-right: 30px;
  color: grey;
}

#how-to i:hover {
  color: #9356dc;
  cursor: pointer;
}

#how-to h1, #restaurants h1 {
  align-self: baseline;
  margin-left: 20px;
}

#how-to aside {
  background-color: #9356dc;
  color: white;
  padding-top: 3px;
  padding-bottom: 18px;
  padding-left: 6px;
  padding-right: 7px;
  width: 8px;
  height: 3px;
  border-radius: 20px;
}
#how-to aside:hover {
  -webkit-transform: scale(1.25);
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
#position {
  height: 45px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #d2d4d7;
}

.position--lock {
  display: flex;
  margin-right: 11px;
}

.position--text {
  font-weight: 600;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

#restaurants {
  height: 1140px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  display: flex;
  flex-direction: column;
}
.place img {
  width: 330px;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.place__new {
  position: relative;
  background-color: #99E2D0;
  color: green;
  width: 64px;
  top: 40px;
  align-self: end;
  margin-right: 13px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 3px;
}
.place__description {
  height: 65px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 3px 3px #D7DAE0;
}
.place__heart {
  font-size: 25px;
}
.place__heart:hover .heart-like {
  font-style: normal;
  transition: all 500ms;
}
.place__heart:hover .heart-like:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
}
.place__text {
  margin-top: 12px;
  margin-right: 55px;
}
.place__name {
  font-weight: bold;
}

.place--var {
  display: flex;
  flex-direction: column;
}
.place--var img {
  width: 330px;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  margin-top: 25px;
}

.place__description i {
  align-self: center;
  margin-left: 50px;
  margin-top: 15px;
}

#restaurants a {
  text-decoration: none;
  color: black;
}

#restaurants h1 {
  margin-block-end: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
.containerrestau {
  background-color: #f1f1f1;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 1075px;
  display: flex;
  flex-direction: column;
}
.containerrestau section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.containerrestau--height {
  background-color: #f1f1f1;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 1150px;
  display: flex;
  flex-direction: column;
}
.containerrestau--height section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    max-width: 768px;
  }

  .containerhome {
    max-width: 768px;
  }

  .entitled {
    margin-left: 170px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 15px;
  }

  footer li {
    margin-right: 30px;
  }
}
.order-button {
  padding: 15px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  width: 160px;
  align-self: center;
  margin-top: 35px;
  height: 20px;
  font-family: Roboto, sans-serif;
}
.order-button a {
  color: white;
  text-decoration: none;
  margin-left: 33px;
  font-size: 18px;
}
.order-button:hover:hover {
  box-shadow: 5px 6px 6px #D7DAE0;
  background-image: linear-gradient(0deg, #a77ddb, #fd9be2);
  cursor: pointer;
}

.entitled {
  align-self: baseline;
  font-size: 10px;
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.entitled__h2 {
  margin-block-end: 3px;
}

hr {
  border: none;
  border-top: 3px solid #99E2D0;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  width: 40px;
}

.dish {
  border: 2px white solid;
  margin-bottom: 10px;
  width: 350px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 3px 3px #D7DAE0;
  animation: appear;
  animation-duration: 1200ms;
  animation-fill-mode: backwards;
}
.dish__text {
  display: flex;
  flex-direction: column;
}
.dish__text--title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__text--detailsprice {
  display: flex;
  justify-content: space-between;
}
.dish__text--detailsprice--details {
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__text--detailsprice--price {
  margin-right: 15px;
  font-weight: 600;
  margin-top: 4px;
}
.dish__icon {
  opacity: 0;
  position: relative;
  width: 63px;
  height: 64px;
  left: 82.8%;
  bottom: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #99E2D0;
  margin: 0;
}
.dish__icon i {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  font-size: 23px;
}
.dish:hover .dish__icon {
  animation: pill;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}
.dish:hover .dish__icon i {
  transform: rotate(1turn);
  transition: transform 500ms ease-in-out;
}
.dish:hover .dish__text--detailsprice {
  width: 300px;
  transform: translateX(-1px);
  transition: transform 200ms;
}

@keyframes pill {
  from {
    transform: translateX(45px);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    transform: translateY(45px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    max-width: 768px;
  }

  .containerhome {
    max-width: 768px;
  }

  .entitled {
    margin-left: 170px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 15px;
  }

  footer li {
    margin-right: 30px;
  }
}
.header-menu {
  height: 45px;
  display: flex;
  align-items: center;
}
.header-menu a {
  color: black;
  margin-bottom: 17px;
}
.header-menu i {
  position: absolute;
  margin-left: 20px;
}
.header-menu .logo {
  margin: auto;
}

.header-menu img {
  width: 170px;
  height: 27px;
}

.hero-zone {
  height: 200px;
}
.hero-zone img {
  object-fit: cover;
  width: 100%;
  height: 235px;
}

.title-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Shrikhand;
}
.title-menu h1 {
  font-weight: 100;
  font-size: 26px;
  margin-right: 35px;
  margin-top: 30px;
}
.title-menu i {
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
}
.title-menu:hover .heart-like {
  font-style: normal;
  transition: all 500ms;
}
.title-menu:hover .heart-like:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: unset;
  }

  .containerhome {
    max-width: unset;
  }

  #how-to div {
    width: 560px;
    justify-content: flex-start;
  }

  #how-to i {
    margin-left: 70px;
    margin-right: 100px;
  }

  #how-to h1, #restaurants h1 {
    align-self: unset;
    margin-right: 500px;
    margin-bottom: 30px;
  }

  .place {
    width: 560px;
  }
  .place img {
    width: 560px;
  }
  .place__text {
    margin-right: 69px;
  }
  .place__description i {
    margin-left: 0;
    margin-right: 75px;
    font-size: 30px;
  }

  .place--var {
    width: 560px;
  }
  .place--var img {
    width: 560px;
  }

  footer ul {
    display: flex;
    align-items: center;
    margin-left: 315px;
    font-size: 18px;
  }

  footer li {
    margin-right: 30px;
  }

  .title-menu h1 {
    font-size: 45px;
  }
  .title-menu i {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .entitled {
    align-self: unset;
    font-size: 11px;
    margin-left: 0;
    margin-right: 505px;
  }

  .dish {
    width: 560px;
  }
  .dish__icon {
    left: 89.5%;
  }

  .containerrestau {
    height: 1110px;
  }

  .containerrestau--height {
    height: 1185px;
  }
}

/*# sourceMappingURL=style.css.map */
