#description {
    height: 235px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description h1 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 21px;
    text-align: center;
}

#description p {
    text-align: center;
}

#description a {
    text-decoration: none;
    color: white;
}


.description--link {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-image: $gradient-but;
    box-shadow: 2px 3px 3px #D7DAE0;
    &:hover {
        @include hover-but;
    }
}