#description {
    height: 200px;
    margin-bottom: 35px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

#description p {
    text-align: center;
}

#description a {
    text-decoration: none;
    color: white;
}

.restaurants-link {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 2px 3px 3px #D7DAE0;
}