#how-to {
    height: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to div {
    height: 65px;
    background-color: #F7F7F7;
    width: 325px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 2px 3px 3px #D7DAE0;
}

#how-to div:hover {
    background: #F2E7FF;
    cursor: pointer;
}

#how-to span {    
    font-weight: bold;
}

#how-to i {
    margin-left: 25px;
    margin-right: 30px;
    color: grey;
}

#how-to i:hover {
    color: #9356dc;
    cursor: pointer;
}

#how-to h1, #restaurants h1 {
    align-self: baseline;
    margin-left: 20px;
}

#how-to aside {
    background-color: #9356dc;
    color: white;
    padding-top: 3px;
    padding-bottom: 18px;
    padding-left: 6px;
    padding-right: 7px;
    width: 8px;
    height: 3px;
    border-radius: 20px;
    &:hover {
        -webkit-transform:scale(1.25);
        cursor: pointer;
    }
}

@include media-desk;
