#restaurants {
    height: 1140px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place {
    display: flex;
    flex-direction: column;
    & img {
        width: 330px;
        height: 165px;
        object-fit: cover;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
        &__new {
            position: relative;
            background-color: #99E2D0;
            color: green;
            width: 64px;
            top: 40px;
            align-self: end;
            margin-right: 13px;
            font-size: 13px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            border-radius: 3px;
        }
            &__description {
                height: 65px;
                border-bottom-left-radius: 11px;
                border-bottom-right-radius: 11px;
                display: flex;
                justify-content: space-around;
                box-shadow: 2px 3px 3px #D7DAE0;
            }
                &__heart {
                    font-size: 25px;
                    @include fav-icon;
                }
                    &__text {
                        margin-top: 12px;
                        margin-right: 55px;
                    }
                        &__name {
                            font-weight: bold;
                        }
}

.place--var {
    display: flex;
    flex-direction: column;
    & img {
        width: 330px;
        height: 165px;
        object-fit: cover;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        margin-top: 25px;
    }
}

.place__description i {
    align-self: center;
    margin-left: 50px;
    margin-top: 15px;
}

#restaurants a {
    text-decoration: none;
    color: black;
}

#restaurants h1 {
    margin-block-end: 0;
}

@include media-desk;