header {
    height: 45px;
    display: flex;
    align-items: center;
    & a {
        color: black;
        margin-left: 14px;
        margin-right: 60px;
    }
}

.logo img {
    width: 170px;
    height: 27px;
}