.title-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Shrikhand;
    & h1 {
        font-weight: 100;
        font-size: 26px;
        margin-right: 35px;
        margin-top: 30px;
    }
        & i {
            font-size: 25px;
            margin-right: 10px;
            margin-top: 5px;
        }
}

