footer {   
    height: 190px;
    background-color: rgb(53, 53, 53);
    display: flex;
}

footer h3 {
    color: white;
    font-family: Shrikhand;
    font-weight: 100;
    margin: 0;    
    margin-top: 15px;
    margin-bottom: 10px;
}

footer ul {
    color: white;
    margin: 0;
    list-style: none;
    line-height: 28px;
    padding-inline-start: 20px;
}

.fa-utensils {
    margin-right: 17px;
}

.fa-hands-helping {
    margin-right: 10px;
}

@include media-min;