@font-face {
    font-family: 'Roboto';
    src: url('../../Ressources/css/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../../Ressources/css/shrikhand/Shrikhand-Regular.otf');
}
