.entitled {
    align-self: baseline;
    font-size: 10px;
    margin-left: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    &__h2 {
        margin-block-end: 3px;
    }
}

hr {
    border: none;
    border-top: 3px solid #99E2D0;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    width: 40px;
}


.dish {
    border: 2px white solid;
    margin-bottom: 10px;
    width: 350px;
    height: 60px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 3px 3px #D7DAE0;
    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 6px;
    }
        &__details {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;
            font-size: 15px;
        }
            &__price {
                display: inline-flex;
                margin-right: 15px;
                font-weight: 600;
            }
                &__icon {
                    opacity: 0;
                    position: relative;
                    width: 63px;
                    height: 64px;
                    left: 83%;
                    bottom: 88%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    background-color: #99E2D0;
                    margin: 0;
                    & .fa, .fas {
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        color: white;
                        font-size: 23px;
                        transform: rotate(1turn);
                    }
                }
                &:hover > .dish__icon {
                    animation: pill;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-timing-function: cubic-bezier(-4,1,0,1);
                }
}

@keyframes pill {
    from {
        transform: translateX(45px);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@include media-min;