.entitled {
    align-self: baseline;
    font-size: 10px;
    margin-left: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    &__h2 {
        margin-block-end: 3px;
    }
}

hr {
    border: none;
    border-top: 3px solid #99E2D0;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    width: 40px;
}


.dish {
    margin-bottom: 10px;
    width: 350px;
    height: 62px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 3px 3px #D7DAE0;
    animation: appear;
    animation-duration: 1200ms;
    animation-fill-mode: backwards;
    overflow: hidden;
    &__text {
        display: flex;
        flex-direction: column;
        &--title {
            font-size: 18px;
            font-weight: 600;
            margin-left: 10px;
            margin-top: 6px;
            @include text-ellipsis;
        }
        &--detailsprice {
            display: flex;
            justify-content: space-between;
            &--details {
                justify-content: space-between;
                margin-top: 5px;
                margin-left: 10px;
                font-size: 15px;
                @include text-ellipsis;
            }
            &--price {
                margin-right: 15px;
                font-weight: 600;
                margin-top: 4px;
            }
        }
            
    }
                &__icon {
                    opacity: 0;
                    position: relative;
                    width: 63px;
                    height: 67px;
                    left: 82.8%;
                    bottom: 88%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    background-color: #99E2D0;
                    margin: 0;
                    & i {
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        color: white;
                        font-size: 23px;                       
                    }
                }
                &:hover {
                    cursor: pointer;
                    .dish {
                        &__icon {
                            animation: pill;
                            animation-duration: 340ms;
                            animation-fill-mode: both;
                            animation-timing-function: cubic-bezier(0,0,0,0);
                            overflow: hidden;
                            i {
                                transform: rotate(1turn);
                                transition: transform 500ms ease-in-out;
                            }
                        }
                        &__text {
                            &--detailsprice {
                                width: 300px;
                                transform: translateX(-1px);
                                transition: transform 200ms;
                            }
                        }
                    }
                }
}

@keyframes pill {
    from {
        transform: translateX(45px);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        transform: translateY(45px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@include media-desk;
@include media-tab;