.header-menu {
    height: 45px;
    display: flex;
    align-items: center;
    & a {
        color: black;
        margin-bottom: 17px;
    }
        & i {
            position: absolute;
            margin-left: 20px;
        }
            & .logo {
                margin: auto;
            }
}

.header-menu img {
    width: 170px;
    height: 27px;
}