.spinner {
    width: 414px;
    height: 100%;
    position: fixed;
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 45%;
}

.loading::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid #dddddd;
    border-top-color: $secondary-color;
    border-radius: 50%;
    animation: loading 2s ease-in forwards;
}

@keyframes loading {
    to {
        transform: rotate(2turn);
        opacity: 0;
        display: none;
    }
}
