.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;
    margin: auto;
}

.loading::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid #dddddd;
    border-top-color: $secondary-color;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}