.containerrestau {
    background-color: #f1f1f1;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 1075px;
    display: flex;
    flex-direction: column;
    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Roboto, sans-serif;
    }
}

.containerrestau-magic {
    background-color: #f1f1f1;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 1150px;
    display: flex;
    flex-direction: column;
    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Roboto, sans-serif;
    }
}

@include media-min;