@mixin fav-heart {
	font-style: normal;
	transition: all 500ms;
	&:hover {
		background: -webkit-linear-gradient($primary-color, $secondary-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-o-background-clip: text;
		-o-text-fill-color: transparent;
		font-weight: 900;
		cursor: pointer;
	}
}

@mixin fav-icon {
	&:hover {
		.heart-like {
			@include fav-heart;
		}
	}
}

@mixin hover-but {
	&:hover {
        box-shadow: 5px 6px 6px #D7DAE0;
        background-image: $gradient-hov;
		cursor: pointer;
    }
}

@mixin media-desk {
	@media only screen and (min-width : 1200px) {
		body {
			max-width: unset;
		}

		.containerhome {
			max-width: unset;
		}

		#how-to div {
			width: 560px;
			justify-content: flex-start;
		}
	
		#how-to i {
			margin-left: 70px;
			margin-right: 100px;
		}
	
		#how-to h1, #restaurants h1 {
			align-self: unset;
			margin-right: 500px;
			margin-bottom: 30px;
		}
		.place {
			width: 560px;
			& img {
				width: 560px;
			}
				&__text {
					margin-right: 69px;
				}
					&__description i {
						margin-left: 0;
						margin-right: 75px;
						font-size: 30px;
					}

		}

		.place--var {
			width: 560px;
			& img {
				width: 560px;
			}
		}

		footer ul {
			display: flex;
			align-items: center;
			margin-left: 315px;
			font-size: 18px;
		}

		footer li {
			margin-right: 30px;
		}
		
		.title-menu {
			& h1 {
				font-size: 45px;
			}
			& i {
				font-size: 32px;
				margin-top: 0px;
				margin-bottom: 6px;
			}
		}

		.entitled {
			align-self: unset;
			font-size: 11px;
			margin-left: 0;
			margin-right: 505px;
		}

		.dish {
			width: 560px;
			height: 65px;
			&__icon {
				left: 89.5%;
			}
			&:hover {
				.dish {
					&__icon {
						height: 74px;
						animation: pill;
						animation-duration: 508ms;
						animation-fill-mode: forwards;
						animation-timing-function: cubic-bezier(0,0,0,0);
						i {
							transform: rotate(1turn);
							transition: transform 550ms ease-in-out;
						}
					}
					&__text {
						&--detailsprice {
							width: 500px;
							transform: translateX(-1px);
							transition: transform 200ms;
						}
					}
				}
			}
		}

		.containerrestau {
			height: 1110px;
		}

		.containerrestau--height {
			height: 1185px;
		}
	}
}

@mixin media-tab {
	@media only screen and (min-width : 768px) and (max-width : 1200px) {
		body {
			min-width: 768px;
		}

		.containerhome {
			min-width: 768px;
		}

		.entitled {
			margin-left: 170px;
		}

		footer ul {
			display: flex;
			align-items: center;
			margin-left: 0;
			font-size: 15px;
		}

		footer li {
			margin-right: 30px;
		}
	}
}

@mixin text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}